---

import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import BotonRedes from "../components/BotonRedes.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header class="text-white w-full ">

    <div class="h-60 sm:h-96 object-cover mask-b-from-40% mask-b-to-100% w-full
    xl:object-[25%_45%] animate-duration-[900ms]
    animate-fade animate-ease-in bg-[url('../public/images/michi.webp')] bg-cover bg-center
    lg:bg-[url('../public/images/michi-pc.webp')] lg:bg-cover lg:bg-center
    ">
    </div>
    <header class="flex justify-center items-center flex-col -mt-4 z-10 bac">
      <h1 class="font-bold leading-tight animate-fade-up animate-duration-1000 animate-delay-100 animate-ease-in-out text-3xl font-cascadia-code text-balance p-2 text-center mt-12
      
      sm:text-4xl
      lg:text-5xl
      xl:text-6xl
      ">
        Starlyxs
        <svg class="inline size-16 -ml-8">
          <use href={"./sprite.svg#code"} />
      </svg>
      </h1>
      <div class="bg-white flex flex-initial box-border  p-4 w-80 h-96 rotate-[15deg] m-30">
        <span class=" w-full h-72 bg-radial-[at_50%_80%] to-purple-500  from-pink-500 block box-border p-7 ">
          <img src="https://avatars.githubusercontent.com/u/196558528?v=4" class="w-full h-full object-cover rounded-full" alt="icon-starlyx">
        </span>
      </div>
      <h1 class="font-bold leading-tight animate-fade-up animate-duration-1000 animate-delay-100 animate-ease-in-out text-2xl font-cascadia-code text-balance p-2 text-center mt-5
      
      sm:text-2xl
      lg:text-3xl
      xl:text-4xl
      "
      
      >
        Desarrollador Web - Aprendiz
      </h1>
    </header>
  
  
    <section class="flex gap-2 justify-center mt-1">
  
      <BotonRedes href="https://github.com/Starlyxs" ariaLabel="GitHub" title="GitHub de Starlyxs" icon="github" delay="animate-delay-[100ms]" />
      <BotonRedes href="#" ariaLabel="X" title="Twitter de Starlyxs" icon="x" delay="animate-delay-[150ms]" />
      <BotonRedes href="#" ariaLabel="Instagram" title="Instagram de Starlyxs" icon="instagram" delay="animate-delay-[200ms]"/>
      <BotonRedes href="#" ariaLabel="WhatsApp" title="WhatsApp de Starlyxs" icon="whatsapp" delay="animate-delay-[250ms]"/>
  
    </section>
  <main>
    Aquí van los cursos
  </main>
</Layout>
