---
interface Props {
    href: string;
    ariaLabel: string;
    title: string;
    icon: string;
    delay?: string;
}

const { href, ariaLabel, title, icon, delay } = Astro.props;
---


<a href={href} target="_blank" aria-label={ariaLabel} title={title} class={`p-2 size-10 flex justify-center items-center rounded-2xl hover:scale-110 transition-transform sm:size-10 
lg:size-11
xl:size-12

animate-slide-up-fade ${delay} animate-ease-out

`}>
    <svg width="40" height="40">
        <use href={"./sprite.svg#" + icon} />
    </svg>
</a>