---
console.log("Header component loaded");
---

<header class="py-8 px-6 mx-auto max-w-xl lg:py-16 lg:px-6 h-dvh">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX launches
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Explore the latest SpaceX launches and missions with Astro.
    </p>
  </div>
  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <a class="text-white"  href="/">últimos proyectos</a>
    <a class="text-white"  href="/antiguos">Viejos proyectos</a>
  </nav>
</header>