---
import BotonRedes from "./BotonRedes.astro";
---

<header class="text-white w-full">

  <img src="./images/michi.webp" alt="Modeus" 
  
  class="h-60 sm:h-96 object-cover mask-b-from-50% mask-b-to-100% w-full
  xl:object-[25%_45%] animate-duration-[900ms]
  animate-fade animate-ease-in
  ">

  <header class="flex justify-center items-center flex-col -mt-4 z-10">
    <span class="text-sky-400
    text-sm
    font-cascadia-code
    px-3 py-1
    border-2 rounded-full
    flex items-center 
    shadow-sm 
    bg-black
    cursor-pointer
    
    sm:text-xl
    
    md:text-2xl 
    md:tracking-wider

    
    animate-duration-1000
    animate-fade-up 
    ">
    @Starlyxs
      <svg width="24" height="24" class="bg-sky-400 inline ml-1 size-4 sm:size-5 md:size-6 rounded-full">
        <use href="./sprite.svg#verified" />
      </svg>
    </span>
    <h1 class="font-bold leading-tight mt-5 animate-fade-up animate-duration-1000 animate-delay-100 animate-ease-in-out text-2xl font-cascadia-code text-balance p-2 text-center
    
    sm:text-4xl
    lg:text-5xl
    xl:text-6xl
    "
    
    >
      Desarrollador Web - Aprendiz
    </h1>
  </header>


  <section class="flex gap-2 justify-center mt-5">

    <BotonRedes href="https://github.com/Starlyxs" ariaLabel="GitHub" title="GitHub de Starlyxs" icon="github" color={"bg-zinc-900"} />
    <BotonRedes href="#" ariaLabel="Twitter" title="Twitter de Starlyxs" icon="x" color={"bg-black"}  delay="animate-delay-[150ms]" />
    <BotonRedes href="#" ariaLabel="Instagram" title="Instagram de Starlyxs" icon="instagram" color={"bg-gradient-to-tr from-yellow-300 via-pink-600 to-purple-600"} delay="animate-delay-[200ms]"/>
    <BotonRedes href="#" ariaLabel="Linkedin" title="Linkedin de Starlyxs" icon="linkedin" color={"bg-white"} delay="animate-delay-[250ms]"/>
    <BotonRedes href="#" ariaLabel="Youtube" title="Youtube de Starlyxs" icon="youtube" color={"bg-white"} delay="animate-delay-[300ms]"/>
    <BotonRedes href="#" ariaLabel="Twitch" title="Twitch de Starlyxs" icon="twitch" color={"bg-purple-200"} delay="animate-delay-[350ms]"/>

  </section>
<main>
  Aquí van los cursos
</main>